.task-group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border: 0.1rem solid #00000021;
    border-radius: 1rem;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    height: 70vh;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    background: white;
}

.new-todo-layout {
    width: 100%;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    row-gap: 1rem;
    overflow: scroll;
}

.show-only-active {
    width: 1.2rem;
    height: 1.2rem;
}

.active-selector {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-grow: 1;
}

.todo-actions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.todo-list ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    width: 100%;

}

.task-group-name {
    margin: 0;
}