.task-list-container {
    display: flex;
    width: 90vw;
    overflow-x: scroll;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

.listing-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}