.filter-container {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 20vw;
}

.filter-container select {
    line-height: 1.6rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #068a8a;
    padding: 0.5rem;
    width: 100%;
}