:root {
  --main-radius: 0.625rem; /* 10px */
}

* {
  box-sizing: border-box;
  font-family: "Gilmer";
}

body {
  font-family: "Gilmer";
  margin: 0px;
  padding: 0;
  background: #F7F8FB;
  color: #40404B;
}

#root {
  height: 100vh;
  display: flex;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}