.new-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.new-todo input {
    flex-grow: 1;
    line-height: 1.6rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #068a8a;
    padding: 0.5rem;
}

.new-todo button {
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #797979;
    background: white;
    padding: 0.5rem;
    box-shadow: rgb(102 102 102 / 34%) 0px 2px 6px 0px;
    cursor: pointer;
}